<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>help page text</p>
        {{> footer}}
    </body>
</html>